<h1 class="center">Billboard</h1>
<br>
<div class="modal-content" style="padding: 20px">
    <table id="Content" class="table table-stripped">
        <col width="120">
        <col width="150">
        <col>
        <col width="140">
        <thead>
        <tr>
            <th>Team name</th>
            <th>Project name</th>
            <th>Team members</th>
            <th>Global Rating</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="group in groups">
                <td>
                    {{group.team}}
                </td>
                <td>
                    {{group.name}}
                </td>
                <td>
                    <span class="label names" ng-class="getClass($index)" ng-repeat="member in group.members track by $index">{{member | capitalize}}</span>
                </td>
                <td>
                    <div class="input-group" ng-if="email_log !== 'Login'">
                        <input type="text" class="form-control" placeholder="Rate" value="{{group.rating}}" id="{{group.id}}">
                        <span ng-show="group.name !== 'KeyCam'" class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="change(group.id)">ok</button>
                        </span>
                        <span ng-show="group.name === 'KeyCam'" class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="change(group.id)"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                        </span>
                    </div>
                    {{email_log === 'Login' ? group.rating : ''}}
                </td>
            </tr>
        </tbody>
    </table>
</div>